body {
  background: var(--primary-color);
  font-family: var(--header-font);
}

/* Whole page  */
#add_product {
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-family: var(--header-font);
}

/* form section */
.form {
  width: 45%;
  max-width: 45%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

/* form title */
.form_title {
  color: rgba(255, 255, 255, 0.911);
  padding: 0.7rem 0;
  border-bottom: 1px solid rgba(13, 135, 165, 0.5);
}
.form_sub_title {
  color: rgba(255, 255, 255, 0.781);
  padding: 0.7rem 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* Category */
.category_section {
  border-bottom: none !important;
}

/* All label in form */
.form_body label {
  color: rgba(255, 255, 255, 0.781);
}
/* All divs in form */
.form_body > div {
  border-bottom: 1px solid rgba(13, 135, 165, 0.5);
  margin: 1rem 0;
  padding: 0.7rem;
}

/* submit / cancel section  */
.submit_section {
  border-bottom: none !important;
  border-top: solid 2px rgba(255, 255, 255, 0.671);
  text-align: center;
  padding: 29px 0;
}
/* cancel btn */
.cancel_btn {
  width: 25%;
  padding: 12px;
  margin-right: 0.5rem;

  border-radius: 0.35rem;
  border: 1px solid #66a4ec;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--header-font);
  font-size: 1rem;
  outline: 0;
}
/* create btn */
.create_btn {
  width: 50%;
  padding: 12px;

  border-radius: 0.35rem;
  border: 1px solid rgba(13, 135, 165, 0.5);
  background: rgba(13, 135, 165, 0.603);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--header-font);
  font-size: 1rem;
  outline: 0;
}
.create_btn:hover {
  background: var(--primary-color);
}

/* Select all elements in form */
input[type='text'],
input[type='number'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  outline: none;
  background-color: rgba(255, 255, 255, 0.911);
  margin: 0.7rem 0;
  color: rgba(0, 0, 0, 0.842);
  font-weight: bold;
  font-size: 1rem;
}

/* Media query section */
@media (min-width: 320px) {
  .form {
    width: 90%;
    max-width: 90%;
  }

  .cancel_btn {
    padding: 9px 8px;
    margin-right: 0.3rem;
    background: #fff;
    text-decoration: none;
    color: #000;
    font-family: var(--header-font);
  }
  .create_btn {
    padding: 9px 4px;
  }
}
@media (min-width: 600px) {
  .form {
    width: 45%;
    max-width: 45%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
  }
}
